<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if site.show_title %}
                <a class="navbar-brand" href="/">{{ site.title }}</a>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if site.show_home_link %}
                    <li {% if page.slug == 'home' %}class="active"{% endif %}>
                        <a href="/">Home</a>
                    </li>
                {% endif %}

                {% for position in (1..10) %}
                    {% for p in site.pages %}
                        {% if p.position == position %}
                            {% comment %}
                                <!-- If this is a blog post, it will have a {{ page.date }} attribute. So we can use this to add 'active' class to Blog menu -->
                            {% endcomment %}
                            <li {% if p.url == page.url or (p.slug == 'blog' and page.date) %}class="active"{% endif %}>
                                <a title="p.title" href="{{ p.url }}">{{ p.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>